.about {
  position: relative;
  background: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assests/HiriyurDamC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(85, 105, 104, 0.315);
  background-blend-mode: multiply;
}
