input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.feedback {
  margin: 20vh 7vw 15vh 7vw;
  height: 65vh;
}

.feedback-body {
  display: flex;
  justify-content: space-between;
}

.feedback-body textarea:focus,
.feedback-body input:focus {
  outline: none;
}

.feedback-body .feedback-form {
  /* margin: 10% 25% 10% 25%; */
  width: 100%;
  max-width: 320px;
}

.feedback-body input,
.feedback-body textarea,
.feedback-body button {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  min-width: 300px;
  display: block;
  margin-bottom: 15px;
  resize: none;
  border: none;
  font: inherit;
  border-radius: 2%;
  padding: 10px;
  padding-left: 20px;
}

.feedback-body input {
  height: 50px;
}

.feedback-body ::placeholder {
  color: #112;
  opacity: 0.5;
}

.feedback-body button {
  background-color: #112;
  color: #fff;
}

.feedback-body button:hover {
  background-color: #123;
}

.feedback-body .onsubmit {
  position: relative;
  width: 100%;
}

.feedback-body .onsubmit h4 {
  font-weight: 600;
  position: absolute;
  padding: 2px;
  width: 100%;
  color: rgba(17, 17, 34, 0.603);
}

.feedback-body .onsubmit h4#email-success {
  background-color: rgba(80, 235, 49, 0.548);
  transition: .2s;
}

.feedback-body .onsubmit h4#email-fail {
  background-color: rgba(235, 49, 49, 0.548);
  transition: .2s;
}

.feedback-body .thank-you-div {
  max-width: 400px;
  position: relative;
}

/* .feedback-body .thank-you-div p {
  margin-bottom: 0;
} */

.feedback-body .thank-you-div .upi-img {
  max-width: 230px;
}

.card-payment-div .card-next-btn {
  margin-bottom: 5px;
}

.card-logo {
  float: right;
  margin-top: 0;
}

.card-payment-from-div {
  width: 25vw;
  height: 430px;
  position: relative;
}

/* ==========payment======================== */


.card-payment-from-div #root {
  display: flex;
  align-items: center;
}

.card-payment-from-div .payment-body {
  position: absolute;
  left: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.card-payment-from-div form {
  width: 25vw;
  min-width: 350px;
  align-self: center;
  background-color: none;
  color: white;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}


.card-payment-from-div #payment-message {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

.card-payment-from-div #payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
.card-payment-from-div button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.card-payment-from-div button:hover {
  filter: contrast(15%);
}

.card-payment-from-div button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.card-payment-from-div .spinner,
.card-payment-from-div .spinner:before,
.card-payment-from-div .spinner:after {
  border-radius: 50%;
}

.card-payment-from-div .spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.card-payment-from-div .spinner:before,
.card-payment-from-div .spinner:after {
  position: absolute;
  content: '';
}

.card-payment-from-div .spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.card-payment-from-div .spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .card-payment-from-div form {
    width: 80vw;
    min-width: initial;
  }
}